/* IMPORT FONTS */

@font-face {
  font-family: "MarioColorWoff";
  src:url("./assets/fonts/mario-color.woff") format('woff');
}

@font-face {
  font-family: "MarioOutlineWoff";
  src: url("./assets/fonts/mario-outline.woff") format('woff');
}

@font-face {
  font-family: "MarioWhiteWoff";
  src: local("MarioWhite"), url("./assets/fonts/mario-white.woff") format('woff');
}

body {
  margin: 0;
}
